@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 0.5rem;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #043349;
}

@media screen and (max-width: 900px) {
  .cityInputForm {
    /* margin: auto; */
    margin-bottom: 0.5rem;
    align-self: center;
  }
  .icon-container {
    font-size: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .icon-container {
    font-size: 6rem;
  }
}

@media screen and (min-width: 360px) {
  .cityInputForm {
    display: flex;
    flex-direction: row;
    height: 3rem;
  }
}

#dataTable {
  margin-top: 1rem;
}

#city_input {
  background-color: #041c329c;
  color: white;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  width: 150px;
}

.unselected {
  border-style: none;
}

.invalid_input {
  border-style: none;
  border: 1px solid rgb(255, 0, 0);
}

.valid_input {
  border-style: none;
  border: 1px solid greenyellow;
}

.error_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
  min-height: 1.4rem;
  color: #1976d2;
  font-weight: 600;
  text-transform: uppercase;
}

.tabs {
  color: white;
}

li {
  list-style: none;
}

img {
  width: 8rem;
}

ul {
  margin: 0;
}

#language {
  color: white;
  margin-right: 0.5rem;
}

#menu {
  border-radius: 0.3rem;
  background-color: #041c329c;
  color: white;
  width: 3rem;
}

#cityBtn {
  background: rgba(255, 255, 255, 0.114);
  margin: 0rem 1rem;
}
/* 
.toolTip {
  border-radius: 200px;
  background-color: black;
}

.myHighlightClass {
  border: 1px solid white;
} */

#tutorialBtn {
  background: rgba(255, 255, 255, 0.114);
  margin: 1rem 0rem;
}

.favouriteCityPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #064663;
  min-width: 68vw;
  width: 80%;
  margin: auto;
  /* border: 1px solid white; */
  border-radius: 2.5px;
  margin-bottom: 1rem;
  padding: 1rem;
  /* font-family: "Gudea"; */
}

.favouriteCityPanel__conditionIcon {
  font-size: 0.5rem;
}

#addToFavourites {
  display: inline-flex;
}

#toolTip {
  height: 300px;
  max-width: 65vw;
  width: 425px;
  max-height: 65vh;
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: "Gudea", sans-serif;
  font-size: 1.4rem;
  position: relative;
  color: white;
  z-index: 102;

  background: hsla(199, 90%, 15%, 1);

  background: linear-gradient(
    135deg,
    hsla(199, 90%, 15%, 1) 0%,
    hsla(199, 89%, 21%, 1) 56%,
    hsla(199, 89%, 21%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(199, 90%, 15%, 1) 0%,
    hsla(199, 89%, 21%, 1) 56%,
    hsla(199, 89%, 21%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(199, 90%, 15%, 1) 0%,
    hsla(199, 89%, 21%, 1) 56%,
    hsla(199, 89%, 21%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#043349", endColorstr="#064663", GradientType=1 );
}

@media screen and (max-width: 650px) {
  #toolTip {
    width: 65vw;
    height: 35vh;
    font-size: 1rem;
  }
  .toolTipButton {
    font-size: 0rem;
    background-color: red;
  }
}

#toolTipBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

#toolTipTitle {
  white-space: nowrap;
  /* font-size: 1.5rem; */
  /* margin-top: 20px; */
}

#toolTipContent {
  /* font-size: 1.4rem; */
  margin-top: auto;
  margin-bottom: auto;
}

#toolTipButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0.75rem;
}

#close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.toolTipButton {
  background-color: #041c329c;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  color: white;
  font-size: 1.3rem;
  white-space: nowrap;
  cursor: pointer;
}

.toolTipButton:hover {
  background-color: #1452909c;
}

#overlay {
  height: 850px;
  width: 100vw;
  background-color: #1f9a1869;
  position: absolute;
  z-index: 1;
}
